.light-wrapper{
    width: 115px;
    height: 115px;
    border: 2px solid #282828;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4C4C4C;
}

.light.red-light.on{
    background-color: red;
    box-shadow: 0px 0px 0px red;
}

.light.yellow-light.on{
    background-color:   yellow;
    box-shadow: 0px 0px 0px yellow;
}

.light.green-light.on{
    background-color: green;
    box-shadow: 0px 0px 0px green;
}